!!!5
html
  head
    title #{title} - Synapse
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Synapse
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
